<ion-view title="{{rideType}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="img-comm img-alim" ng-click="showNotiListModal()">5</button>
    </ion-nav-buttons>
    <ion-content class="has-header List">
        <ion-refresher on-refresh="listRefresh()"
                       pulling-text="손을 때세요~"
                       refreshing-text="새로운 피드를 가져옵니다."
                       refreshing-icon="ion-loading-c">

        </ion-refresher>
        <ion-slide-box show-pager="true" active-slide="currentIndex">
            <ion-slide ng-repeat="plan in plans">
                <list-content-item content="plan"></list-content-item>
            </ion-slide>
        </ion-slide-box>
        <ion-slide-box>
            <ion-slide ng-repeat="battleResult in battleResults">
                <list-content-item content="battleResult"></list-content-item>
             </ion-slide>
        </ion-slide-box>
        <list-content-item ng-repeat="feed in feeds" content="feed"></list-content-item>
    </ion-content>
</ion-view>




